<div class="container">
    <h1>Edit {{ movie.title }}</h1>
    <a href="http://localhost:3000/movies/" class="all-movies">Return to All Movies</a>
    <br><br>
    {{#if error}}
    <div class="alert alert-danger">
      {{ error }}
    </div>
    {{/if}}
    <form method="POST" action="/movies/{{ movie.id }}?_method=PUT" class="well">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="title">Movie Title</label>
                    <input id="title" name="title" type="text" class="form-control" value="{{ movie.title }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="item">Director</label>
                    <input id="director" name="director" type="text" class="form-control" value="{{ movie.director }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="item">Year</label>
                    <input id="year" name="year" type="number" class="form-control" value="{{ movie.year }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="item">My Rating</label>
                    <input id="my_rating" name="my_rating" type="text" min="0" max="5" class="form-control" value="{{ movie.my_rating }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="image">Movie Poster URL</label>
                    <input id="poster_url" name="poster_url" type="text" class="form-control" value="{{ movie.poster_url }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
