<div class="container">
    <a href="/movies/" class="all-movies">Return to All Movies</a><br>
    <a href="/movies/new" class="all-movies">Add New Movie</a><br>
  <div class="row">
    <div class="col-md-2">
      <img src="{{ movie.poster_url }}"
        alt="{{ movie.title }}"
        class="movie-poster">
    </div>
    <div class="col-md-6">
      <h2>{{ movie.title }}</h2>
      <p>
      Director: {{ movie.director }}<br>
      Year: {{ movie.year }}<br>
      My Rating: {{ movie.my_rating }}
      <form action="/movies/{{ movie.id }}/edit">
        <input class="btn btn-sm btn-success"
        type="submit"
        name="edit-button"
        value="Edit Movie">
      </form>
      <form action="/movies/{{ movie.id }}?_method=DELETE" method="POST">
      <input class="btn btn-sm btn-danger"
          type="submit"
          name="delete"
          value="Delete Movie">
      </form>
      <!-- <a href="/movies/{{ movie.id }}/edit" type="button" name="button" class="btn btn-sm btn-success"> -->

      </p>
    </div>
  </div>
</div>
